@mixin font13 {
  font-size: 13px;
  font-weight: 500;
  font-family: "Inter Tight", sans-serif;
}
@mixin font16 {
  font-size: 16px;
  font-family: "Inter Tight", sans-serif;
  font-weight: 500;
}
@mixin font18 {
  font-size: 18px;
  font-family: "Inter Tight", sans-serif;
  font-weight: 500;
}
@mixin font27 {
  font-size: 27px;
  font-family: "Inter Tight", sans-serif;
  font-weight: 500;
}
@mixin font32 {
  font-size: 32px;
  font-family: "Inter Tight", sans-serif;
  font-weight: 500;
}
@mixin font52 {
  font-size: 52px;
  font-family: "Inter Tight", sans-serif;
  font-weight: 500;
}
@mixin font72 {
  font-size: 72px;
  font-family: "Inter Tight", sans-serif;
  font-weight: 500;
}
@mixin font112{
  font-size: 112px;
  font-family: "Inter Tight", sans-serif;
  font-weight: 500;
}