@import "../../../scss/main.scss";

.aboutOC {
  background: var(--creame);
  padding: 90px 0 0;
}
.aboutOC-title {
  color: black;
  text-align: center;
  padding-bottom: 50px;
  p {
    @include font16;
    letter-spacing: 3.2px;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  h2 {
    max-width: 1120px;
    margin: 0 auto;
    @include font52;
    font-weight: 400;
    padding-bottom: 50px;
  }
}
.aboutOC-image {
  width: 100%;
  height: 711px;
}
