* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1em;
  font-weight: 500;
}
a {
  text-decoration: none;
  color: #007bff;
}
a:hover {
  text-decoration: underline;
}
button{
  cursor: pointer;
}
.container{
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 32px;
}